{% extends "base_templates/base.html" %}

{% block styles %}
<link rel="stylesheet" type="text/css" href="static/css/personal-graph.css">
<link rel="stylesheet" type="text/css" href="static/css/slider.css">
{% endblock %} 

{% block main %}
<div class="row">
  	<div class="col-md-offset-2 col-md-8">
		<div id="personal-graph"></div>
		<div id="mini-graph"> </div>
	</div>
</div>
<!-- <div id="personal-graph"></div> -->
<div class="row">
  	<div class="col-md-12">
		<div id="graph">
			<div class="row">
  				<div class="col-md-offset-4 col-md-4 center">
					<h3>Current Date</h3>
				</div>
			</div>
			<div class="row">
  				<div class="col-md-12" id="graph-container">
					<svg class="graph"></svg>
				</div>
			</div>
			<div class="row">
  				<div class="col-md-offset-4 col-md-4">
					<input class ="slider" type="range" min="0" max="100" step="1" value="0" oninput="updateSlider(this.value)"></input>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}

{% block scripts %}
<!-- Individual graph must be prior to graph due to dependencies -->
<script type="text/javascript" src="static/js/individual-graph.js"></script>
<script type="text/javascript" src="static/js/graph.js"></script>
{% endblock %}