<!DOCTYPE html>
<html>
    <head>

        {% assets "css_libs" %}
        <link rel="stylesheet" href="{{ ASSET_URL }}">
        {% endassets %}
        {% assets "css_main" %}
        <link rel="stylesheet" href="{{ ASSET_URL }}">
        {% endassets %}

        {% block styles %}{% endblock -%} 

        <script type="text/javascript">
          var $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
        </script> 

        <title>FriendFlow</title>

    </head>
    <body>

        {% include 'base_templates/navbar.html' %}
        
        <div class="container top-margin">
            {% block main %}{% endblock -%}  
        </div>

        {% assets "js_libs" %}
        <script type="text/javascript" src="{{ ASSET_URL }}"></script>
        {% endassets %}
        {% assets "js_main" %}
        <script type="text/javascript" src="{{ ASSET_URL }}"></script>
        {% endassets %}
        {% block scripts %}{% endblock -%}  
    </body>
</html>