body {
  background-color: #62c2cc;
  min-height: 100%;
  width: 100%;
  font-family: "Dosis", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
}

svg {
  display: block;
  margin:auto;
}

.header {
  background-color: #E5F4F7;
  width: 400px;
  font-size: 35px;
  padding: 25px;
}

.tweets {
  background-color: #F6F6FF;
  width: 100%;
}


.twtr{
    font-family: 'Dosis', sans-serif;
    font-weight: 700;
    font-size: 50px;
    color: #293C33;
    text-align: center;
    z-index: 100;
    
}

/* ------------------------------section for top 10 topics and tweets----------------------*/
.row{
    background-color: #F7F7F7;
    font-family: 'Dosis', sans-serif;
    
}

.section_title{
    font-family: 'Dosis', sans-serif;
    font-size: 30px;
    color: #293C33;
    padding:20px;
    text-align: center;
    
}

.topic_title{
    
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: 25px;
    font-weight: 500;
    padding: 7px;
}

/*below is for hidden section*/

.population{
    color: #cccccc;
    text-decoration: none;
    padding: 0 0 0 0;
}

.population:hover, .population:focus, .population:active {
    color: #9ddcd7;
}


/* Float */

.hvr-float {
  display: inline-block;
  vertical-align: middle;
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  transition-duration: 0.3s;
  transition-property: transform;
  transition-timing-function: ease-out;
  padding:0px 5px 10px 15px;
  
}
.hvr-float:hover,
.hvr-float:focus,
.hvr-float:active {
  transform: translateX(8px);
}


/* Fade */
.hvr-fade {
  
  -webkit-transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  overflow: hidden;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color;
  
}
.hvr-fade:hover, .hvr-fade:focus, .hvr-fade:active {
  background-color: white;
}
