body {
  background-color: #fff; /*#62c2cc;*/
  min-height: 100%;
  width: 100%;
  font-family: "Dosis", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
}

svg {
  display: block;
  margin:auto;
}

.header {
  background-color: #E5F4F7;
  width: 400px;
  font-size: 35px;
  padding: 25px;
}


.title{
    font-family: 'Dosis', sans-serif;
    font-weight: 700;
    font-size: 50px;
    color: #293C33;
    text-align: center;
    z-index: 100;
    
}


.graph circle {
  /*fill: steelblue;*/
}
.graph rect {
  fill: black;
}
.graph text {
  fill: black;
  font: 10px sans-serif;
  text-anchor: end;
}

